# pixi environments
.pixi
*.egg-info
# various folders
data/
old/

# Big files
*.tsv
*.txt
*.pdf
*.csv
*.fa
*.fasta
*.fai
*.html
*.zip
*.gz
*.tbi
*.bed
*.Rhistory
*.DS_Store
*.output
*.wandb
*.jsonl
*.index
*.pkl
.pixi/
*.egg-info
data/**
logs/** 
slurm*
*.db
*.out
*.tbl
wandb/
*.ids
checkpoint-*/
*.pt
*.pth
*.csv

#Exceptions
!interpro-pfam.tsv