{% extends "base.html" %} {% block content %}
    <!-- Starting definition of site content -->
    <section class="section">
        <div class="box">
            <section class="section has-text-centered">
                <img src="{{ url_for('static', filename='img/metadome_logo_2.png') }}">
                <!-- Start a tolerance landscape -->
                <form method="get" action="{{ url_for('web.frontpage_search') }}">
                    <div class="columns is-centered is-vcentered is-variable is-2">
                        <div class="column is-full-mobile is-narrow-tablet is-narrow-desktop">
                            <div class="select is-large is-fullwidth">
                                <select name="genome_build">
                                    {% for gb in navbar_genome_builds %}
                                        <option value="{{ gb }}"
                                                {% if navbar_selected_genome_build == gb %}selected{% endif %}>{{ gb }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="column is-full-mobile is-two-thirds-tablet is-half-desktop">
                            <input class="input is-large"
                                   id="frontpageQuery"
                                   type="text"
                                   name="query"
                                   placeholder="Gene name or chr1:12345 / chr1 12345"
                                   required>
                        </div>

                        <div class="column is-full-mobile is-narrow-tablet is-narrow-desktop">
                            <button class="button is-link is-large is-fullwidth" type="submit">
                                Analyse
                            </button>
                        </div>
                    </div>
                </form>

                <p class="help has-text-centered mt-3">
                    Enter a gene name or a genomic position such as <code class="html">chrX:123</code> or <code
                        class="html">chrX 123</code>.
                </p>

                <p class="label mt-4" style="color: #00AFDC;">or</p>

                <div class="control has-text-centered">
                    <button class="button is-info is-outlined is-large"
                            onclick='location.href="{{ url_for("web.dashboard_tour") }}"'>
                        Start the tour
                    </button>
                </div>
            </section>
        </div>

        <section class="section">
            <div class='content is-medium'>
                <p>
                    Enter a gene name or genomic position to generate a comprehensive tolerance landscape that
                    integrates
                    <a data-external-link-group="External.resources"
                       data-external-link-key="gnomad"
                       href="#"
                       target="_blank">gnomAD</a> and
                    <a data-external-link-group="External.resources"
                       data-external-link-key="clinvar"
                       href="#"
                       target="_blank">ClinVar</a> data
                    to analyze mutation tolerance across homologous <a data-external-link-group="External.resources"
                                                                       data-external-link-key="pfam"
                                                                       href="#"
                                                                       target="_blank">Pfam</a>
                    domains within the human genome.
                </p>
                <p>
                    You can edit, print, and download the results. MetaDome usage is free, but we
                    hope you faithfully cite <a href="{{ url_for('web.about') }}#cite_us">our articles</a>.
                </p>
                <p><small><i><!-- @todo remove this section when published -->
                    MetaDome 2.0 is actively under development, which means that some features may not work as expected,
                    and that data can be incomplete or incorrect. We recommend using
                    <a data-external-link-group="MetaDome"
                       data-external-link-key="legacy"
                       href="#"
                       target="_blank">MetaDome 1.0.1</a> for production use.
                </i></small></p>
            </div>
        </section>
    </section>
{% endblock %} {% block js %} {% endblock %}